<h3>配信登録方法</h3>
<h4><li>fc2</li></h4>
http://live.fc2.com/<配信者ID>/<br>
配信画面の url　の<配信者ID>の部分を入力してください。
<h4><li>ニコ生</li></h4>
http://com.nicovideo.jp/community/<配信者ID><br>
ニコ生コミュニティページの url の<配信者ID>の部分を入力してください。