
<h1><%= params[:name]%> </h1>

<iframe width="700" height="525" src="http://live.fc2.com/embedPlayer/?id= <%= params[:id] %>&lang=ja&suggest=1&thumbnail=1&adultaccess=0&afid=41561948" frameborder="0" scrolling="auto"></iframe>
<br>
<select name="size" size="1">
<option value="100">100%</option>
<option value="70">70%</option>
<option value="50">50%</option>
</select>
